html{
  overflow: hidden;
}

.c-photo{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-row-columns: 25% 25% 25% 25%;
}

.c-photo__card{
  width: 100%;
  height: 25vh;
  background-size: cover;
  background-position: 50% 50%;
}