*{
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main{
  position: relative;
}

.c-app{
  padding: 10px;
}

.c-info-banner{
  position: fixed;
  background: white;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  padding: 15px;
  border-top: 1px solid #666;
}

.c-info-banner__hashtag{
  margin: 0;
  line-height: 70px;
}
