*{
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #F9F8FA;
  color: #3d4748;
}

main{
  position: relative;
}


.c-info-banner{
  position: fixed;
  background: white;
  border-top: 3px solid white;
  bottom: 0;
  left: 0;
  right: 0;
  height: 110px;
  padding: 0 15px;
  background-image: linear-gradient(130deg, #FFE8AB, #F8B39E);
}

.c-info-banner__hashtag{
  font-family: "azote", sans-serif;
  /*font-family: "nimbus-sans";*/
  margin: 0 0 0 10px;
  line-height: 110px;
  font-size: 88px;
  font-weight: 400;
  color: #3d4748;
  position: relative;
  top: 3px;
}

.c-info-banner__hashtag:before {
  background: url("/ig-logo.png") no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  content: '';
  height: 60px;
  width: 60px;
  margin-right: 20px;
  position: relative;
  top: 5px;
}

.c-info-banner__hashtag span {
  /*color: #afb5b5;*/
  /*color: #ff4524;*/
  padding: 0 10px;
}
